
SNSsoftware.vbproj.user
Portal_3/
obj/Debug/SNSsoftware.vbproj.FileListAbsolute.txt
obj/Debug/SNSsoftware.vbproj.CoreCompileInputs.cache
obj/Debug/SNSsoftware.pdb
obj/Debug/SNSsoftware.dll
bin/SNSsoftware.pdb
bin/SNSsoftware.dll
.vs/SNSsoftware/v16/.suo
.vs/SNSsoftware/config/applicationhost.config
