<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Site.master.vb" Inherits="SNSsoftware.Site" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>SNS software</title>
</head>
<body id="WBody" runat="server">

    <form id="form1" runat="server">
    </form>
</body>
</html>